[Unit]
Description="mypws-http"
Wants=network.target
After=network.target

[Service]
User=www
Group=www
Type=simple
ExecStart=/data/www/mypws/bin/mypws-http-server
ExecReload=/bin/kill --signal USR2 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target